*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: white;
   
}

.header{
    display: flex;
    background-color: green;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: right;
    position: initial;
}

.appname{
    flex: 6 1 auto;
    text-align: left;
    padding-left: 9px;
}

.space{
    flex: 6 1 auto;
}

.search{
    flex: 1 1 auto;
}

.submenu{
    flex: 1 1 auto; 
    padding-right: 9px;
}

.menu{
    display: flex;
    background-color: green;
    color: white;
    justify-content: space-between;
    text-align: center;
    position: sticky;
    list-style:none;
    margin: 0;
    padding-left: 0;
    
}

.resalta{
    transition-duration: .2s;
}

.camara{
    flex: 1 1 auto;
    transition-duration: .4s;
}

.chats{
    flex: 3 1 auto;
    border-bottom: 3px solid white;
    transition-duration: .4s;
     
}

.resalta:hover, .camara:hover, .chats:hover, .estados:hover, .llamadas:hover {
    background-color: lightgreen;
}

.estados{
    flex: 3 1 auto;
    transition-duration: .4s;
}

.llamadas{
    flex: 3 1 auto;
    transition-duration: .4s;
}
.row{
    display: flex;
    align-items: center;
    align-content: center;
    transition-duration: .5s;
}

.row:hover {
    background-color: lightgray;
}

.icon{
    flex: 1 1 auto;
    text-align: center;
    padding-top: 9px;
    padding-bottom: 9px;
    width: 18%;
    height: 62px;
}
.content{
    flex: 5 1 auto;
    display: flex;
    flex-direction: column;
    border-bottom: .5px solid gray;
    padding-bottom: 3px;
    width: 283px;
}

.content2{
    flex: 5 1 auto;
    display: flex;
    border-bottom: .5px solid gray;
    padding-bottom: 3px;
}

.top-row, .boton-row{
    display: flex;
    
}
.top-row2{
    flex: 5 1 auto;
    display: flex;
    flex-direction: column;
}
.contactname, .chatname, .chatEstado,.contacto{
    flex: 5 1 auto;
}
.timedatellamada, .contacto{
    flex: 1 1  auto;
}
.chatname, .chatEstado {
    font-weight: bold;
}

.timedate, .llamada{
    flex: 1 1 auto;
    text-align: right;
    padding-right: 5px;
}
.status{
    border: 1px solid  green;
    border-radius: 100px;
    padding: 1px;
    background-color: green;
    color: white;
    margin-right: 5px;
    width: 20px;
    text-align: center;
    font-weight: bold;
}

.enlace{
    color: white;  font-family: arial; text-decoration: none
}
/*usamos la clase contenedor  para ocutar los div que conforman la barra de submenus(camara,chats,estados,llamadas)
NOTA: Creo que tengo un poco de problemas con la erencia ojalá y pudieramos un poco de esto gracias. 
*/
.contenedor{
    display: none;
    padding: 6px 12px;
    border-top: none;
    animation: cambio;
   
}

.recientes, .vistos{
    background-color: lightgreen;
}

.manda-men, .form{
    display: flex;
    flex-direction: row;
}

.form{
    flex: 2 1 auto;
}

.submit{
    flex: 1 1 auto;
    text-align: right;
    width: 100%;
}

.to{
    text-align: left;
}
.message{
    text-align: right;
}

.insert{
    text-align: center;
    width: 100%;
    text-decoration: none;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 100;
    font-size: 15px;
    font-style: italic;
    color:gray;
    background-color:lightgray;
    border-radius: 15px;
}

.insert:hover{
    opacity: 0.6;
    text-decoration: none;
}   

.paraedit{
    display: none;
}